.page-nation {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.page-nation::after {
    content: '';
    display: block;
    clear: both;
}

.page-nation > * {
    margin: 0 3px;
    display: inline-block;
    width: 39px;
    height: 39px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
    color: #777;
    user-select: none;
    transition: background-color .2s;
    &:hover {
        background-color: #f5f5f5;
    }
    &:active {
        background-color: #eee;
    }
    &.prev,
    &.next {
      background-color: #f2f2f2;
    }
}

.page-nation > *.active {
    color: #fff;
    background-color: #024261;
    border-color: #013149;
}
